{% extends "base.html" %}

{% block titulo %} lista de Precios historicos {% endblock %}

{% block contenido %}



<div class="card">
  <div class="card-header">
    <a name="" id="" class="btn btn-primary" href="{% url 'Articulo_listar' %}" role="button">Volver a la lista de artículos</a>
</div>
    <div class="card-body">
        <h4 class="card-title">PrecioHistorico</h4>
        
        <div class="table-responsive">
            <table id="PrecioHistorico" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre del Producto</th>
                        <th>precio</th>
                        <th>fecha</th>
                    </tr>
                </thead>
                <tbody>

                    
                  {% for precioHistorico in PrecioHistorico %}
                  <tr>
                      <td>{{ precioHistorico.articulo.nombre }}</td>
                      <td>Lps. {{ precioHistorico.precio }}</td>
                      <td>{{ precioHistorico.fecha }}</td>
                  </tr>
              {% endfor %}
                                                      
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>


{% endblock %}

{% block js_page %}
<script>
  $(document).ready(function() {
    // Inicializar DataTable
    var table = $('#PrecioHistorico').DataTable({
      paging: true,
      scrollY: true,
      scrollX: true,
      scrollCollapse: true,
      pagingType: 'full_numbers',
      dom: 'Blfrtip',
      buttons: [
        'csv', 'excel', {
          extend: 'pdf',
          orientation: 'landscape',
          pageSize: 'LEGAL',
          exportOptions: {
            columns: ':visible'
          }
        }, 'print'
      ],
      lengthMenu: [
        [10, 25, 50, -1],
        ['10 Filas', '25 Filas ', '50 Filas', 'Mostrar todo']
      ],
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
      }
    });

    // Destruir DataTable antes de reinicializar (si ya está inicializado)
    $('#PrecioHistorico tbody').on('click', 'tr', function() {
      var data = table.row(this).data();
      // Agrega aquí tu lógica para abrir el documento o realizar otras acciones si es necesario
    });
  });
</script>
{% endblock %}
